Q1> A database is an organized collection of structured information or data typically stored electronically in a computer system.

    SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). NoSQL is a class of DBMs that are non-relational and generally do not use SQL.

Q2> DDL stands for Data Definition Language which are used to create and modify the structure of a database.

    create is used to create a table.
    drop is used to delete a table.
    alter is used to change the structure of a table.
    truncate is used to truncate a number to the specified number of decimal places.

Q3> DML stands for data manipulation language which is used to manipulate data in a database.

    insert is used to add dara into a table.
    update is used to change the data in a table.
    delete is used to delete a data in a table.

Q4> DQL is a portion of a SQL statement that allows us to get and organise data from a database.

    select command is used to extract data from a database table.

Q5> Primary key is used to assign unique values to attributes in a table .

    Foreign key is used to connect two tables having the same attribute.

In [8]:
#Q6> #import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
#mydb = mysql.connector.connect(
#  host="localhost",
#  user="abc",
#  password="password"
#)
#print(mydb)
#mycursor = mydb.cursor()
#mycursor.execute("CREATE DATABASE IF NOT EXISTS test1")
#mycursor.execute("CREATE TABLE IF NOT EXISTS test1.test_table  (C1 INT , C2 VARCHAR(50),C3 INT, C4 FLOAT ,C5 VARCHAR(40));")
#mydb.close()

Q7>