In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

1>

In [3]:
df[['course_name','duration']][2:3]

  course_name  duration
2    Big Data         6

2> loc function includes the upper index whereas the iloc function does not include the upper range. loc is used for label indexing whereas iloc is used for integer indexing.

3>

In [14]:
variable=[3,0,1,2]
new_df=df.reindex(variable)

In [15]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

4>

In [42]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [43]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.612477  0.582568  0.269699  0.118130  0.019948  0.738009
2  0.456437  0.661980  0.728392  0.869193  0.515574  0.148729
3  0.505537  0.836182  0.751026  0.317555  0.235407  0.612113
4  0.126772  0.995670  0.315472  0.202438  0.142164  0.719396
5  0.889686  0.958499  0.659438  0.741572  0.060323  0.616311
6  0.399923  0.738551  0.038921  0.172072  0.031752  0.201208

In [19]:
df1.mean()

column_1    0.268691
column_2    0.526405
column_3    0.423287
column_4    0.495679
column_5    0.466413
column_6    0.556663
dtype: float64

In [20]:
df1.std()

column_1    0.262551
column_2    0.290297
column_3    0.228947
column_4    0.243558
column_5    0.254290
column_6    0.262742
dtype: float64

5>

In [44]:
df1.loc[2,'column_2']='abcd'

In [45]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.612477  0.582568  0.269699  0.118130  0.019948  0.738009
2  0.456437      abcd  0.728392  0.869193  0.515574  0.148729
3  0.505537  0.836182  0.751026  0.317555  0.235407  0.612113
4  0.126772   0.99567  0.315472  0.202438  0.142164  0.719396
5  0.889686  0.958499  0.659438  0.741572  0.060323  0.616311
6  0.399923  0.738551  0.038921  0.172072  0.031752  0.201208

In [53]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

6> A window function is a way to perform calculations on a subset of rows of a dataframe that are defined by a sliding window of a fixed size. The window function takes as input a series of values, and returns a modified series of the same length, where each value is calculated based on a fixed-size window of preceding or succeeding values.

7>

In [54]:
import datetime
now = datetime.datetime.now()
current_month=now.strftime("%B")
current_year=now.strftime("%Y")
print(f"The current month is {current_month} and the current year is {current_year}.")

The current month is April and the current year is 2023.

8>

In [1]:
date1=input("Enter the first date (YYYY-MM-DD):")
date2=input("Enter the second date (YYYY-MM-DD):")
print(date1)
print(date2)

Enter the first date (YYYY-MM-DD): 2023-01-12
Enter the second date (YYYY-MM-DD): 2023-02-12

2023-01-12
2023-02-12

In [9]:
date1=pd.to_datetime(date1)
date2=pd.to_datetime(date2)
print(date1,date2)
diff=date2-date1
print(diff)
print("days=",diff.days)
print("hours=",diff.seconds//3600)
print("minutes=",(diff.seconds//60)%60)

2023-01-12 00:00:00 2023-02-12 00:00:00
31 days 00:00:00
days= 31
hours= 0
minutes= 0

9>

In [12]:
df=pd.read_csv('players.csv')
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [19]:
cat=pd.Categorical(df['Player'])
cat

['Quincy Acy', 'Jordan Adams', 'Steven Adams', 'Jeff Adrien', 'Arron Afflalo', ..., 'Thaddeus Young', 'Thaddeus Young', 'Thaddeus Young', 'Cody Zeller', 'Tyler Zeller']
Length: 675
Categories (493, object): ['A.J. Price', 'Aaron Brooks', 'Aaron Gordon', 'Adreian Payne', ..., 'Zach Randolph', 'Zaza Pachulia', 'Zoran Dragić', 'Ömer Aşık']

10>