In [15]:
import pandas as pd

1>

In [20]:
pf=[4,8,15,16,23,42]
pf=pd.Series(pf)
pf

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2>

In [27]:
l=['abc','def','i','j','kl','mn','op','qr','st','uv']
l=pd.Series(l)
l

0    abc
1    def
2      i
3      j
4     kl
5     mn
6     op
7     qr
8     st
9     uv
dtype: object

3>

In [ ]:
pf=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
pf=pd.DataFrame(pf,columns=['Name','Age','Gender'])
pf

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4> Series in pandas contains a single list which can store heterogeneous type of data, because of this, series is also considered as a 1-dimensional data structure. On the other hand, DataFrame is a 2-dimensional data structure which contains multiple lists of heterogeneous type of data.

5> Common funnctions used to manipulate the data in Pandas DataFrame is loc and iloc.

6> Series is immutable whereas both DataFrames and Panels are mutable.

7>

In [36]:
author=['Naruto','Isagi','Baki','Itadori','Eren']
article=[112,234,456,12,456]
author=pd.Series(author)
article=pd.Series(article)

In [37]:
author

0     Naruto
1      Isagi
2       Baki
3    Itadori
4       Eren
dtype: object

In [38]:
article

0    112
1    234
2    456
3     12
4    456
dtype: int64

In [39]:
author=pd.DataFrame({'Author':author,'Article':article})

In [40]:
author

    Author  Article
0   Naruto      112
1    Isagi      234
2     Baki      456
3  Itadori       12
4     Eren      456